fundamentals/fundamentals/function basic I.txt
fundamentals/fundamentals/notes/w1d3.js
fundamentals/introduction/15
fundamentals/introduction/acroynmfunction.js
fundamentals/introduction/file.py
fundamentals/introduction/file.txt
fundamentals/introduction/intro_to_python.py
fundamentals/oop/w1d3.py
fundamentals/.vscode/settings.json
fundamentals/oop/bankaccount_oop_notes.py
flask/fundamentals/hello_flask/hello.py
flask/fundamentals/hello_flask/Pipfile
flask/fundamentals/hello_flask/Pipfile.lock
fundamentals/fundamentals/notes/w1d4.js
fundamentals/fundamentals/notes/w1d5.js
flask/notes/w2d1.js
fundamentals/fundamentals/notes/w2d1.js
flask/fundamentals/hello_flask/templates/index.html
mysql/ERD/books.mwb
mysql/ERD/dojos_and_ninjas.mwb
mysql/ERD/friendships.mwb
mysql/ERD/users.mwb
mysql/notes/w2d1_blog_example.mwb
fundamentals/fundamentals/notes/w2d2.js
fundamentals/fundamentals/notes/w2d3.js
mysql/queries/MySQL_workbench_setup.zip
mysql/queries/books.txt
mysql/ERD/users.mwb.bak
mysql/queries/dojos_and_ninjas.txt
mysql/queries/MySQL_workbench_setup.sql
mysql/queries/users.txt
mysql/notes/dogs/mysqlconnection.py
mysql/notes/dogs/server.py
mysql/notes/dogs/templates/dog.html
mysql/notes/dogs/templates/edit_dog.html
mysql/notes/dogs/templates/index.html
mysql/notes/dogs/templates/new_dog.html
mysql/queries/friendships.txt
mysql/queries/mysql_connection_errors.txt
fundamentals/fundamentals/notes/w2d4.js
mysql/ERD/dojos_and_ninjas.mwb.bak
mysql/ERD/books_query.sql
fundamentals/fundamentals/notes/w2d5.js
flask_mysql/validation/books_validation/flask_app/config/mysqlconnection.py
flask_mysql/validation/books_validation/Pipfile
flask_mysql/validation/books_validation/Pipfile.lock
flask_mysql/validation/books_validation/server.py
flask_mysql/validation/books_validation/flask_app/__init__.py
flask_mysql/validation/books_validation/flask_app/controllers/author_controller.py
flask_mysql/validation/books_validation/flask_app/controllers/book_controller.py
flask_mysql/validation/books_validation/flask_app/models/author.py
flask_mysql/validation/books_validation/flask_app/models/book.py
flask_mysql/validation/books_validation/flask_app/templates/author_detail.html
flask_mysql/validation/books_validation/flask_app/templates/author.html
flask_mysql/validation/books_validation/flask_app/templates/book_detail.html
flask_mysql/validation/books_validation/flask_app/templates/book.html
flask_mysql/crud/books/flask_app/config/mysqlconnection.py
flask_mysql/crud/dojos_and_ninjas/flask_app/config/mysqlconnection.py
flask_mysql/crud/books/flask_app/config/mysqlconnection.py
flask_mysql/crud/users_project/mysqlconnection.py
flask_mysql/crud/users_modularized/flask_app/config/mysqlconnection.py
flask_mysql/crud/dojos_and_ninjas/flask_app/config/mysqlconnection.py
flask_mysql/crud/books/flask_app/config/mysqlconnection.py
flask_mysql/crud/dojos_and_ninjas/flask_app/config/mysqlconnection.py
flask_mysql/crud/users_modularized/flask_app/config/mysqlconnection.py
flask_mysql/crud/users_project/mysqlconnection.py
bfg.jar
flask_mysql/validation/dojo_survey_validation/flask_app/models/dojo_survey.py
flask_mysql/validation/dojo_survey_validation/flask_app/config/mysqlconnection.py
mysql/ERD/dojo_survey.mwb
flask_mysql/validation/email_validation/flask_app/config/mysqlconnection.py
mysql/ERD/email_validation.mwb
flask_mysql/validation/login_registration/flask_app/config/mysqlconnection.py
flask_mysql/validation/login_registration_practice/Pipfile
flask_mysql/validation/login_registration_practice/Pipfile.lock
flask_mysql/validation/login_registration_practice/server.py
flask_mysql/validation/login_registration_practice/flask_app/__init__.py
flask_mysql/validation/login_registration_practice/flask_app/config/mysqlconnection.py
flask_mysql/validation/login_registration_practice/flask_app/controllers/user_controller.py
flask_mysql/validation/login_registration_practice/flask_app/models/user.py
mysql/ERD/login.mwb
flask_mysql/validation/python_full_demo/Pipfile
flask_mysql/validation/python_full_demo/Pipfile.lock
flask_mysql/validation/python_full_demo/server.py
flask_mysql/validation/python_full_demo/flask_app/__init__.py
flask_mysql/validation/python_full_demo/flask_app/config/mysqlconnection.py
flask_mysql/validation/python_full_demo/flask_app/controllers/user_controller.py
flask_mysql/validation/python_full_demo/flask_app/models/user.py
mysql/ERD/python_belt_exam.mwb
flask_mysql/validation/python_full_demo/flask_app/controllers/ice_cream_controller.py
flask_mysql/validation/python_full_demo/flask_app/models/ice_cream.py
flask_mysql/validation/python_full_demo/flask_app/templates/dashboard.html
flask_mysql/validation/python_full_demo/flask_app/templates/index.html
flask_mysql/validation/python_full_demo/flask_app/templates/new_ice_cream.html
mysql/ERD/python_belt_exam.mwb.bak
flask_mysql/validation/python_full_demo/flask_app/templates/edit_ice_cream.html
flask_mysql/validation/python_full_demo/flask_app/templates/show_ice_cream.html
fundamentals/fundamentals/notes/w3d2.js
mysql/ERD/recipes.mwb
mysql/ERD/recipes.mwb.bak
flask_mysql/validation/python_full_demo/flask_app/__pycache__/__init__.cpython-39.pyc
mysql/ERD/email_validation.mwb.bak
flask_mysql/validation/recipes/flask_app/config/mysqlconnection.py
flask_mysql/python_belt_exam/Pipfile
flask_mysql/python_belt_exam/Pipfile.lock
flask_mysql/python_belt_exam/server.py
flask_mysql/python_belt_exam/flask_app/__init__.py
flask_mysql/python_belt_exam/flask_app/config/mysqlconnection.py
flask_mysql/python_belt_exam/flask_app/controllers/user_controller.py
flask_mysql/python_belt_exam/flask_app/models/user.py
flask_mysql/python_belt_exam/flask_app/templates/index.html
flask_mysql/python_belt_exam/belt_exam_schema.mwb
flask_mysql/python_belt_exam/flask_app/controllers/show_controller.py
flask_mysql/python_belt_exam/flask_app/models/show.py
flask_mysql/python_belt_exam/flask_app/templates/dashboard.html
flask_mysql/python_belt_exam/flask_app/templates/display_show.html
flask_mysql/python_belt_exam/flask_app/templates/edit_show.html
flask_mysql/python_belt_exam/flask_app/templates/new_show.html
flask_mysql/python_project/flask_app/config/mysqlconnection.py
fundamentals/fundamentals/notes/w3d4.js
fundamentals/fundamentals/notes/w3d5.js
mysql/ERD/cars.mwb
mysql/ERD/cars.mwb.bak
