<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Register to Recipes!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<style>
    p {
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }
    input {
        width: auto;
    }
</style>
<body>
    <h1 class="container" style="width: 80%; margin-top: 30px; margin-bottom: 30px;">Login to access your recipes!</h1>
    <div class="container d-flex justify-content-between" style="width: 80%;">
        <div style="width: 400px;">
            {% with messages = get_flashed_messages(category_filter=["flash1"]) %}
                {% if messages %}
                    {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith%}
            <h2>Register</h2>
            <form action="/register" method="POST">
                <p>
                    First Name:
                    <input class="form-control"type="text" name="first_name">
                </p>
                <p>
                    Last Name:
                    <input class="form-control"type="text" name="last_name">
                </p>
                <p>
                    Email:
                    <input class="form-control"type="text" name="email">
                </p>
                <p>
                    Password:
                    <input class="form-control"type="password" name="password">
                </p>
                <p>
                    Confirm Password:
                    <input class="form-control"type="password" name="confirm_password">
                </p>
                <button class="w-80 btn btn-lg btn-primary">Register</button>
            </form>
        </div>
        <div style="width: 400px;">
            {% with messages = get_flashed_messages(category_filter=["flash2"]) %}
                {% if messages %}
                    {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith%}
            <h2>Login</h2>
            <form action="/login" method="POST">
                <p>
                    Email:
                    <input class="form-control"type="text" name="email">
                </p>
                <p>
                    Password:
                    <input class="form-control"type="password" name="password">
                </p>
                <button class="w-80 btn btn-lg btn-primary">Login</button>
            </form>
        </div>
    </div>
</body>
</html>